@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background: #936532;
}
:root{
    --bg:rgba(147, 101, 50,.55);
}
body{
    background: #f6f6f6;
}

html{
    overflow-x: hidden;
}
.bg-right{
  
    transform: rotate(25deg);
    margin-left: 150px;
    margin-right: -150px;
    
}
img{
    object-fit: cover;
}
.bg-right-alt{
    transform: rotate(-25deg);
    height: 150vh;
}
@keyframes image{
    from{
        transform: scale(1.09);
    }
    to{
        transform:scale(1);
    }
}
@keyframes image2{
    from{
        transform: translateX(-50px);
    }
    to{
        transform:translateX(0px);
    }
}
.image{
    animation: image 4s linear infinite alternate;
}
.beans{
    position: absolute;
    left: 5%;
    top: 45%;
    mix-blend-mode: multiply;
    animation: image2 4s linear infinite alternate;
}
.webkit::-webkit-scrollbar{
    display: none;
}