@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background: #936532;
}
:root{
    --bg:rgba(147, 101, 50,.55);
}
body{
    background: #f6f6f6;
}

html{
    overflow-x: hidden;
}
.bg-right{
  
    transform: rotate(25deg);
    margin-left: 150px;
    margin-right: -150px;
    
}

img{
    object-fit: cover;
}
.bg-right-alt{
    transform: rotate(-25deg);
    height: 150vh;
}
@keyframes image{
    from{
        transform: scale(1.09);
    }
    to{
        transform:scale(1);
    }
}
@keyframes image2{
    from{
        transform: translateX(-50px);
    }
    to{
        transform:translateX(0px);
    }
}
.image{
    animation: image 4s linear infinite alternate;
}
.beans{
    position: absolute;
    left: 5%;
    top: 45%;
    mix-blend-mode: multiply;
    animation: image2 4s linear infinite alternate;
}
.webkit::-webkit-scrollbar{
    display: none;
}
.hot_coffee{
    position: relative;
}
.hot_coffee img,
.hot_coffee .hot_img{
    transition: all .3s ease;
}
.transition2 {
    transition: all 0.6s ease;
}
.tr{
    transition: all .3s ease;
}
.tr:hover *{
    color: #ffff;
}
.hot_coffee:hover .hot_img{
    background: #936532;
}
.hot_coffee:hover img{
    transform:  rotate(10deg);
}
.input-control{
    border: none;
    outline: none;
    box-shadow: none;
   
    border-bottom: 1px solid #000;
    background-color: transparent;
    border-radius: 0;
}
.input-control:focus{
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    border-radius: 0;
}

@media screen and (max-width:1299px) {
    .bg-right{
        transform: rotate(0deg);
        margin-left: 0px;
        margin-right: 0px;
    }
    .bg-right-alt{
        transform: rotate(0deg);
    }
}
@media screen and (max-width:991px){
    .bg-right .image{
        width: 250px;
        animation: none;
    }
    .bg-right .beans{
        width: 150px;
        animation: none;
    }
    .bg-right-alt{
        height: 40vh;
    }
}