@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background: #936532;
}
:root{
    --bg:rgba(147, 101, 50,.55);
}
body{
    background: #331C00;
}

html{
    overflow-x: hidden;
}
.bg-right{
   position: relative;
}
.bg-right::before{
    content: '';
    position: absolute;
    width: 100%;
   
    top: -150px;
    left: 100px;
    right: 0px;
    bottom: 0;
    height: 1500px;
    background: #936532;
    transform: rotate(25deg);
}
/* img{
    object-fit: cover;
} */
.hover-item {
    transition: all .3s ease;
}
.hover-item:hover{
    transform: scale(1.1);
}
@keyframes image{
    from{
        transform: scale(1.09);
    }
    to{
        transform:scale(1);
    }
}
@keyframes image2{
    from{
        transform: translateX(-50px);
    }
    to{
        transform:translateX(0px);
    }
}
.image{
    animation: image 4s linear infinite alternate;
}
.beans{
    position: absolute;
    left: 5%;
    top: 45%;
    mix-blend-mode: multiply;
    animation: image2 4s linear infinite alternate;
}
.webkit::-webkit-scrollbar{
    display: none;
}
.hot_coffee{
    position: relative;
}
.hot_coffee img,
.hot_coffee .hot_img{
    transition: all .3s ease;
}
.transition2 {
    transition: all 0.6s ease;
}
.tr{
    transition: all .3s ease;
}
.tr:hover *{
    color: #ffff;
}
.hot_coffee:hover .hot_img{
    background: #936532;
}
.hot_coffee:hover img{
    transform:  rotate(10deg);
}
.input-control{
    border: none;
    outline: none;
    box-shadow: none;
   
    border-bottom: 1px solid #000;
    background-color: transparent;
    border-radius: 0;
}
.input-control:focus{
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    border-radius: 0;
}
.transform{
    transform: translate(-50%,0);
}
.box-shadow-g{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
@media screen and (max-width:1367px) {
 .image{
    height: 500px;
 }
 .bg-right-alt{
    justify-content: center;
 }
 .text-13{
    font-size: 40px;
 }
}
@media screen and (max-width:1299px) {
    .bg-right{
        transform: rotate(0deg);
      
    }
    .bg-right-alt{
        transform: rotate(0deg);
    }
}
@media screen and (max-width:991px){
    .bg-right .image{
        width: auto;
        animation: none;
    }
    .bg-right{
        background: transparent;
    }
    .bg-right::before{
        content: none;
    }
    .bg-right .beans{
        width: 150px;
        animation: none;
    }
    /* .bg-right-alt{
        height: 40vh;
    } */
}